.halaman2 {
	display: none;
}
.halaman3 {
	display: none;
}
.halaman4 {
	display: none;
}
.halaman5 {
	display: none;
}
.halaman6 {
	display: none;
}
.halaman7 {
	display: none;
}
.halaman8 {
	display: none;
}
.halaman9 {
	display: none;
}

.geserBawah {
	margin-top: 50px;
}
.bodyForm {
	margin-top: 50px;
}
.cewe-2015 {
	display :none;
}
.cowo-2016 {
	display :none;
}
.cewe-2016 {
	display :none;
}